p, h5 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.6vh;
}

body {
  width: 80%;
}

#bioCtn {
  margin-top: 2rem;
  height: calc(100vh - 6rem);
  padding: 0;
  width: 80%;
  max-width: 1140px;
}

#certHB {
  background-color: rgba(27, 26, 26, 0.3);
  border-color: rgba(27, 26, 26, 0.3);
  border-radius: 7px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#bioCol {
  height: 100%;
}

.bioImgCertRow {
 height: calc(100% - 4rem);
 padding: 1.5rem;
}

.bioImgCert {
  height: 100%;
}

@media (min-width: 300px) {
  .trplSlash {
    color: #ee926a;
    padding: 0 10px;
  }
}

#midFooter {
  text-align: center;
}

.text-middle:hover {
  cursor: pointer;
  text-decoration: none;
}

.footerReturn {
    text-align: center;
    padding-top: 24px;
    opacity: 0.75;
    font-size: 14px;
    margin-bottom: 0;
    font-style: italic;
    transition:color .3s ease;
}

.footerReturn:hover {
  color: white;
  opacity: .8;
}